* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
body {
    background-color: #e0d3d3;
    color: #e9acac;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    background-color: #ca1f1f;
    border-bottom: 1px solid #091dce;
    position: sticky;
    top: 0;
    z-index: 10;
}
.title {
    align-items: center;
    color:black
}

h1 {
    color:black;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.logo::first-letter {
    color:#054709
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: #f12b2b;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover {
    color: #152917;
    font-size: 16px;
}
